html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(to right, rgb(18, 174, 241), rgb(13, 131, 182), rgb(7, 65, 90));
}

.button {

    width: 100px;
    height: 36px;
    border: none;
    border-radius: 8px;
    background-color: rgb(208, 2, 201);
    color: white;
    font-size: 12px;
    transition: all 0.4s ease;
}

/* 
.buttons-wrapper,
.reload-wrapper {

    position: absolute;
    top: 20px;
    left: 100px;

} */

#start {
    position: absolute;

    /* left: ; */
    bottom: 0;
}

#stop {
    position: absolute;

    left: 110px;
    bottom: 0;
}

#reload {
    position: absolute;

    left: 220px;
    bottom: 0;
}

.buttons-wrapper {
    display: flex;
    gap: 80px;
}

canvas {
    border: 1px solid white;
    box-shadow: 2px 2px 10px white;
    border-radius: 12px;
    height: 560px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}


@media screen and (min-width: 1200px) {
    .wrapper {
        width: 100%;
        display: flex;
        gap: 48px;
        align-items: flex-end;
        justify-content: center;
    }

    .buttons-wrapper {
        display: flex;
        gap: 16px;
    }

    canvas {
        border: 1px solid white;
        box-shadow: 2px 2px 10px white;
        border-radius: 12px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    button {
        cursor: pointer;
        width: 140px;
        height: 44px;
        border: none;
        border-radius: 8px;
        background-color: rgb(208, 2, 201);
        color: white;
        font-size: 20px;
        transition: all 0.4s ease;
    }

    button:hover {
        background-color: rgb(148, 1, 144);
        box-shadow: 0 0 8px rgb(148, 1, 144);
        ;
    }

    button:active {
        box-shadow: none;
    }

    .reload-wrapper {
        width: 300px;
        display: flex;
        justify-content: center;
    }


    /* .progress {
        position: absolute;
        display: flex;
        gap: 12px;
        z-index: 1;
    
    
    } */

    /* #loose {
        width: 200px;
    } */
}